.mid-nav {
  display: flex;
  flex-direction: row;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  background-color: green;
}
ul.listitem{
  list-style-type: none;
}
.mid-nav li {
  color: black;
  text-decoration: none;
  padding-top: 5px;
  padding-left: 20px;
}
